<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Post</h1>
        <% if @exam.errors.any? %>
          <h3><%= @exam.errors.count %> 件のエラーが発生しました:</h3>
          <ul>
            <% @exam.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_with model:@exam, local:true do |f| %>
          <div class="form-group">
            <label for="exam_class_name">授業名</label>
            <%= f.text_field :class_name, class: "form-control exam_class_name" %>
          </div>
          <div class="form-group">
            <label for="exam_caption">補足情報</label>
            <%= f.text_area :caption, class: "form-control exam_caption" %>
          </div>
          <div class="form-group">
            <%= f.submit '投稿', class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>